.footer {
  padding-top: 40px;
  margin-top: auto;
}

.footer__wrap {
  padding: 40px 0;
}

.footer__container {
  display: flex;
  justify-content: flex-end;
}

.footer-list {
  display: flex;
  column-gap: 24px;
}

@media (max-width: 425px) {
  .footer {
    padding: 0;
  }
  .footer__container {
    justify-content: flex-start;
  }

  .footer__wrap {
    padding: 24px 0 36px;
  }

  .footer-list {
    column-gap: 23px;
  }
}
